:where([autocomplete=one-time-code]) {
    --otp-digits: 7;
    --otp-ls: 2ch;
    --otp-gap: 1.25;

    /* private consts */
    --_otp-bgsz: calc(var(--otp-ls) + 1ch);
    --_otp-digit: 0;

    all: unset;
    background:
        linear-gradient(90deg,
            var(--otp-bg, #BBB) calc(var(--otp-gap) * var(--otp-ls)),
            transparent 0),
        linear-gradient(90deg,
            var(--otp-bg, #EEE) calc(var(--otp-gap) * var(--otp-ls)),
            transparent 0);
    background-position: calc(var(--_otp-digit) * var(--_otp-bgsz)) 0, 0 0;
    background-repeat: no-repeat, repeat-x;
    background-size: var(--_otp-bgsz) 100%;
    caret-color: var(--otp-cc, #222);
    caret-shape: block;
    clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);
    font-size: var(--otp-fz, 2.5em);
    inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
    letter-spacing: var(--otp-ls);
    padding-block: var(--otp-pb, 1ch);
    padding-inline-start: calc(((var(--otp-ls) - 1ch) / 2) * var(--otp-gap));
    text-align: left;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#darkContainer {
    width: 100vw;
    height: 100vh;
    animation: 3s linear 1s infinite alternate darkGlow;
    padding: 0;
    margin: 0;
}

body {
    background: black;
    /* overflow: hidden; */
    margin: 0;
    font-family: "Cinzel Decorative", serif;

    background: url("/background.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    color: rgb(233, 0, 0);
    text-shadow: 4px 4px 9px #110000;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    white-space: nowrap;
    animation: 5s linear 1s infinite alternate redGlow;
    line-height: 0;
}

@keyframes redGlow {
    0% {
        color: rgb(222, 0, 0);
    }

    100% {
        color: rgb(244, 0, 0);
    }
}

@keyframes darkGlow {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

#content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* margin-bottom: 75px; */
    height: 100%;
}

#submit {
    display: block;
    font-size: 40px;
    padding: 5px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-weight: 600;
    width: 300px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
}