h1 {
    color: rgb(238, 241, 238);
    text-shadow: 4px 4px 9px #110000;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    white-space: nowrap;
    line-height: 0;
    width: 100%;
    text-align: center;
}

body {
    margin: 0;
}

#imageContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("/win.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}